header{
    background: linear-gradient(
            rgba(0, 0, 0, 0.75), 
            rgba(0, 0, 0, 0.75)),url("/home/tanghe/Bureau/codingSchool15/9-Site-du-chef/site_du_chef/public/images/banner1.jpg");
    height: max-content;
    background-position: center;
    background-size: cover;
    width: 100%;
    

    a{
        border-top: solid white 1px;
        border-bottom: solid white 1px;
    }

    a:hover{
        background-color: $couleur1;
    }

    h1{
        font-family: courgette;
        padding-top: 120px;
        width: 45%;
        font-size: 55px;
        margin: auto;
        padding-bottom: 50px;
        .span1{
            font-size: 80px;
        }
        .span2{
            font-size: 100px;
            color: $couleur1;
        }
        .span3{
            font-size: 100px;
        }
        .span4{
            font-size: 100px;
            
        }
    }
    .bouton1{
        padding: 20px;
        border-radius: 50px;
        border: none;
    }

    .bouton2{
        padding:20px;
        border-radius: 50px;
        border: none;
        background-color:$couleur1;
        color: white;

    }
}

.bgheaderfin{
    background: url("/home/tanghe/Bureau/codingSchool15/9-Site-du-chef/site_du_chef/public/images/bottom_decoration_img.png");
    height: 15px;
    width: 100%;
}

.carousel-control-next{
    border: none;
}

.carousel-control-prev{
    border: none;
}

nav{
    a{
        padding: 25px !important;
        padding-right: 35px !important;
        padding-left: 35px !important;
        text-align: center;
    }
}

.boxlogo{
    flex: 1;
    display: flex;
    justify-content: center;
}

.boxhead{
    flex: 12;
}



@media screen and (min-width:600px) and (max-width:1023px){
    header{
        a{
            border: none;
        }

        h1{
            font-size: 30px;
            width: 80%;
            .span1{
                font-size: 50px;
            }

            .span2{
                font-size: 70px;
            }
            .span3{
                font-size: 50px;
            }

            .span4{
                font-size: 50px;
            }
        }
    }
}


@media screen and (min-width:320px) and ( max-width:599px){
    .boxlogo{
        order: 1;
    }
    header{
        height: max-content;

        a{
            border: none;
        }

        h1{
            font-size: 30px;
            width: 80%;
            .span1{
                font-size: 50px;
            }

            .span2{
                font-size: 70px;
            }
            .span3{
                font-size: 50px;
            }

            .span4{
                font-size: 50px;
            }
        }
    }
}
