
// Média des sections

@media screen and (min-width:600px) and (max-width:1023px){
    // Début de la section Story
    
    #sectionStory{
        padding: 0;
        padding-top: 50px;
    }

    #titreStory p{
        width: 80%;
        font-size: 20px;
    }

    // fin de la sectionStory
    // Début de la section Book Table
    
    #sectionBookTable{
        padding: 0;
        padding-top: 50px;
    }

    .formBook{
        width: 100%;
    }

    // Fin de la section Story
    // Début de la section Blog

    #sectionBlog{
        flex-wrap: wrap;
    }

    #titreBlog{
        padding: 30px;
    }

    #finSectionBlog{
        
        .ligneDeco{
            width: 300px;
        }
    }

    // Fin de la section blog
    // Début de la section Testi

    .rowTesti{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        .mr-5{
            margin-right: 0 !important;
        }
        div{
            margin-bottom: 20px;
        }
    }

    // Fin de la section testi
    // Début de la section contact

    #containerContact{
        width: 60%;
    }

    // Fin de la section contact
    // Footer

    #containerFooter{
        flex-direction: column;
    }
}




@media screen and (min-width:320px) and (max-width:599px){
    // Début de la section story
    
    #sectionStory{
        padding: 0;
        padding-top: 50px;
    }
    .familyCourg{
        font-size: 20px;
    }

    .colMenu{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin-left: 70px;
        p{
            width:100%;
            
        }
    }
    #titreStory{
        img:nth-child(1){
            height: 0;
        }
        img:nth-child(2){
            width: 300px;
        }

        img:nth-child(3){
            height: 0;
        }

        p{
            width: 80%;
            font-size: 15px;
        }
    }

    // Fin de la section story
    // Début de la section menu

    #titreMenu{
        .col-2{
            max-width: 32%;
        }
        img:nth-child(2){
            width: 300px;
        }
        .list-group{
            flex-direction: row;
        }
    }

    #finSectionMenu{
        img:first-of-type{
            height: 0;
        }

        img:nth-child(3){
            height: 0;
        }
    }

    #sectionMeetChef{
        img:nth-child(1){
            width: 100%;
        }
    }

    #sectionBookTable{
        padding: 0;
    }

    #titreBookTable{
        img:nth-child(1){
            height: 0;
        }

        img:nth-child(2){
            width: 300px;
        }

        img:nth-child(3){
            height: 0;
        }
    }

    // Fin de la section menu
    // Début de la section Book Table

    .ligneDeco{
        width: 300px;
    }
    .form-control{
        width: 300px;
    }

    .form-group{
        display: flex;
        justify-content: center;
    }

    .formBook{
        width: 100%;
    }

    .d-book{
        flex-direction: column;
    }

    // Fin de la section book table
    // Début de la section blog

    #sectionBlog{
        flex-wrap: wrap;
    }

    .imgblogTitre{
        bottom: 0;
    }

    #titreBlog{
        padding: 0;
    }
    #finSectionBlog{
        img:nth-child(1){
            height: 0;
        }
        img:nth-child(3){
            height: 0;
        }
    }

    // Fin de la section blog
    // Début de la section testi

    .rowTesti{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        .mr-5{
            margin-right: 0 !important;
        }
        div{
            margin-bottom: 20px;
        }
    }

    // Fin de la section testi
    // Début de la section contact

    #containerContact{
        width: 95%;
    }

    // Fin de la section testi
    // Footer

    #containerFooter{
        flex-direction: column;
    }
}

