#sectionStory{
    background-image: url('/home/tanghe/Bureau/codingSchool15/9-Site-du-chef/site_du_chef/public/images/main_bg.jpg');
    padding: 100px;
}

#titreStory{
    width: 90%;
    margin:0 auto;
    background-color: white;
    h2{
        font-family: courgette;
        font-size: 50px;
    }
    

    p{
        width: 45%;
        margin: auto;
        padding-bottom: 100px;
        color: grey;
        font-size: 20px;
    }
}

.spanOur{
    color: $couleur1;
    font-size: 60px;
}

        // Fin de la section story
        // Début de la section menu
#titreMenu{
    background-color: white;
    width: 90%;
    margin:0 auto;
    h2{
        font-family: courgette;
        font-size: 50px;
    }
    
}




.familyCourg{
    font-family: courgette;
    font-size: 30px;
}

.list-group-item-action:focus{
    color: red;
}

.menulist{
    display: flex;
    flex-wrap: wrap;
    h4{
        max-width: max-content;
    }
    p{
        width: 70%;
    }
    
}

.argent{
    display: flex;
    align-items: center;
    span{
        padding: 10px;
        background-color: lightgray;
        font-size: 20px;
        color: red;
    }
}

.colMenu{
    display: flex;
    flex: 1;
    width: 100%;
    padding: 10px;

}



.imgMenu{
    border: 5px solid lightgray;
    border-radius: 50%;
    height: 140px;
}

.fa-mug-hot, .fa-hamburger, .fa-concierge-bell{
    font-size: 70px;
    color: rgb(131, 131, 131);
}


#finSectionMenu{
    background-color: white;
    width: 90%;
    margin:0 auto;
}

// Fin de la section menulist

// Début de la section meet our chef

#sectionMeetChef{
    background: linear-gradient(
            rgba(0, 0, 0, 0.75), 
            rgba(0, 0, 0, 0.75)),url("/home/tanghe/Bureau/codingSchool15/9-Site-du-chef/site_du_chef/public/images/team_background.jpg");
    h2{
        padding-top: 100px;
    }
}

.ligneDecoMeet{
    padding-bottom: 100px;
}

// Fin de la section de Book Table

#sectionBookTable{
    background-image: url('/home/tanghe/Bureau/codingSchool15/9-Site-du-chef/site_du_chef/public/images/main_bg.jpg');
    padding: 100px;
}

#titreBookTable{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.formBook{
    width: 50%;
    margin: 0 auto;
}