// Début de ma section Story

#sectionStory{
    background-image: url('/home/tanghe/Bureau/codingSchool15/9-Site-du-chef/site_du_chef/public/images/main_bg.jpg');
    padding: 100px;
}

#titreStory{
    width: 90%;
    margin:0 auto;
    background-color: white;
    h2{
        font-family: courgette;
        font-size: 50px;
    }
    

    p{
        width: 45%;
        margin: auto;
        padding-bottom: 100px;
        color: grey;
        font-size: 20px;
    }
}

.spanOur{
    color: $couleur1;
    font-size: 60px !important;
}

        // Fin de la section story
        // Début de la section menu
#titreMenu{
    background-color: white;
    width: 90%;
    margin:0 auto;
    h2{
        font-family: courgette;
        font-size: 50px;
    }
    
}


.menuTitre{
    font-family: courgette;
    font-size: 30px;
}

.familyCourg{
    font-family: courgette;
    font-size: 50px;
}

.list-group-item-action:focus{
    color: red;
}

.menulist{
    display: flex;
    flex-wrap: wrap;
    
    h4{
        max-width: max-content;
    }
    p{
        width: 70%;
    }
    
}

.argent{
    display: flex;
    align-items: center;
    span{
        padding: 10px;
        background-color: lightgray;
        font-size: 20px;
        color: red;
    }
}

.colMenu{
    display: flex;
    flex: 1;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid lightgray;

}



.imgMenu{
    border: 5px solid lightgray;
    border-radius: 50%;
    height: 140px;
}

.fa-mug-hot, .fa-hamburger, .fa-concierge-bell{
    font-size: 70px;
    color: rgb(131, 131, 131);
}


#finSectionMenu{
    background-color: white;
    width: 90%;
    margin:0 auto;
}

// Fin de la section menulist

// Début de la section meet our chef

#sectionMeetChef{
    background: linear-gradient(
            rgba(0, 0, 0, 0.75), 
            rgba(0, 0, 0, 0.75)),url("../images/team_background.jpg");
    h2{
        padding-top: 100px;
    }
}

.ligneDecoMeet{
    padding-bottom: 100px;
}
// Fin de la section meet our chef
// début de la section de Book Table

#sectionBookTable{
    background-image: url('../images/main_bg.jpg');
    padding: 100px;
    padding-bottom: 0;
}

#titreBookTable{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.fondBlancBook{
    background-color: white;
}

.formBook{
    width: 60%;
    margin: 0 auto;
    border-radius: 30px;
    background: url("../images/book_table_bg.jpg");
    background-size: cover;
}

.form-control{
    border-radius: 1rem;
    height: 50px;
}

.boutonFormBook{
    border-radius: 50px;
    padding: 20px;
    border: none;
    background-color: $couleur1;
    color: white;
}

.d-book{

}



.card{
    border: none;
}

// Fin de la section Book table
// Début de la section Blog
#sectionBlog{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}
#titreBlog{
    padding: 100px;
    padding-bottom: 50px;
    padding-top: 0;
    background-image: url('../images/main_bg.jpg');
}

.imgBlog{
    border-radius: 50px;
    border: 5px solid lightgray;
}

.imgblogTitre{
    position: relative;
    bottom: 40px;
    background-color: $couleur1;
    color: white;
    padding: 15px;
    border-radius: 20px;
    
}

.spanBlog{
    font-size: 30px;
    font-weight: bold;
}

#finSectionBlog{
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}

// Fin de la section Blog

// Début de la section Testimonials

#sectionTesti{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.55), 
        rgba(0, 0, 0, 0.55)),url('../images/testimonials_background.jpg');
        background-size: cover;
    h2{
        padding-top: 100px;
    }
    
    h4{
        color: $couleur1;
    }
    
}
.containerTesti{
    width: 75%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.rowTesti{
    display: flex;
}

.padTesti{
    padding-bottom: 100px;
    
}

.imgTesti{
    border-radius: 50%;
    border: lightgray solid 10px;
    height: 200px;
}

.rectangleTesti{
    border: 1px rgba(255, 255, 255, 0.678) solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        width: 80%;
    }
}


// fin de la section testi

// Début de la section contact

#sectionContact{
    background-image: url('../images/main_bg.jpg');

    h2{
        padding-top: 100px;
    }
    img{
        padding-bottom: 20px;
    }
}

#containerContact{
    width: 28%;
    margin: 0 auto;
    background-color: $couleur1;
    border-radius: 20px;
    p{
        width: 90%;
        margin: auto;
        border-bottom: white 1px solid;
        margin-bottom: 20px;
    }
    a{
        width: 90%;
        border-bottom: white 1px solid;
        display: flex;
        justify-content: center;
        
    }
}



.fa-map-marker-alt, .fa-phone-alt, .fa-envelope{
    font-size: 50px;
}

.rowContact{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

// Fin de la section Contact 

