#sectionStory{
    background-image: url('/home/tanghe/Bureau/codingSchool15/9-Site-du-chef/site_du_chef/public/images/main_bg.jpg');
    padding: 100px;
}

#titreStory{
    width: 90%;
    margin:0 auto;
    background-color: white;
    h2{
        font-family: courgette;
        font-size: 50px;
    }
    

    p{
        width: 30%;
        margin: auto;
        padding-bottom: 100px;
    }
}

.spanOur{
    color: $couleur1;
    font-size: 60px;
}
#titreMenu{
    background-color: white;
    width: 90%;
    margin:0 auto;
    h2{
        font-family: courgette;
        font-size: 50px;
    }
    button:focus{
        border-right: red solid 1px;
        border: none;
    }
}


.fa-mug-hot, .fa-hamburger, .fa-concierge-bell{
    font-size: 70px;
    color: rgb(131, 131, 131);
}
